<mat-card class="tela">
    <mat-card-header>
        <mat-card-title>{{titulo}}</mat-card-title>
        <mat-card-subtitle>
            <span *ngIf="registroId !== null; else elseId">Registro {{registroId}}</span>
            <ng-template #elseId>Novo registro</ng-template>
        </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>

    <mat-card-actions fxLayoutAlign="end start" fxLayoutGap="16px">
        <button type="button" (click)="voltarPesquisa()" mat-stroked-button>Voltar para a pesquisa</button>
        <button type="button" (click)="limpar()" color="primary" mat-stroked-button>Limpar</button>
        <button *ngIf="registroId" type="button" (click)="deletar()" color="error" mat-stroked-button>Deletar</button>
        <button type="submit" (click)="salvar()" color="primary" mat-raised-button>Salvar</button>
    </mat-card-actions>

</mat-card>